<form action='/albums' method='post'>

  <p>Album Title
    <input type='text' name='title' required/>
  </p>

  <p>Quantity
    <input type='text' name='quantity' required/>
  </p>

  <p>Cost Price
    <input type='text' name='cost_price' required/>
  </p>
  
  <p>Artist
    <label>
      <select name='artist_id'>
        <% for artist in @artist %>
        <option value='<%= artist.id %>'><%= artist.name %>
        <% end %>    
      </select>
    </label>
  </p>

  <p>Genre
    <label>
      <select name='genre_id'>
        <% for genre in @genre %>
        <option value='<%= genre.id  %>'><%= genre.type %>
        <% end %>
      </select>
    </label>
  </p>
      
  <input type='submit' value='Submit New Album'>

</form>