<p>artists index</p>

<h1>Artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>|</th>
    <th>Show</th>
    <th>|</th>
    <th>Edit</th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><%= artist.name %></td>
    <td>|</td>
    <td><a href='/artists/<%= artist.id%>'>Show Artist</a></td>
    <td>|</td>
    <td><a href='/artists/<%= artist.id %>/edit'>EDIT</a></td>
  </tr>  
  <% end %>
</table>

<p>
<a href="/artists/new">New Artist</a>
</p>
