<h1>Artists</h1>

<table>
  <% for artist in @artists %>
  <tr>
    <td><a href='/artists/<%= artist.id%>'><%= artist.name %></a></td>   
  </tr>  
  <% end %>
</table>
<br>
<p>
  <a href="/artists/new">New Artist</a>
</p>