html {
  text-align: center;
  color: black;
}

table {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #E5FFF4;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Titillium Web', sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: 'Lato', sans-serif;
}

tr:hover {
  color: #AD60FF;
}

.background-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;  
  background-image: url('/images/record_store_home.jpg');
  z-index: -1;
}


#genre-index {
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 12em 0;
  background: rgba(232, 255, 245, 0.8);
}

h1 {
  font-size: 1.8em;
  color: black;
  margin-bottom: 20px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

nav {
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding-right: 0px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

form {
  color: red;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid darkred;
  padding-left: 25px;
}

header {
  display: block;
}

header li {
  border: solid 1px;
  padding: 15px;
  display: inline;
  list-style-type: none;
}
