<h>Rhys' Records</h>

<p>genre view index</p>

<h1>Genres</h1>

<table>
  <tr>
    <th>Type</th>
    <th></th>
  </tr>
  <% for genre in @genres %>
  <tr>
    <td><%= genre.type %></td>
    <td></td>
  </tr>
  <% end %>
</table>