<p>genre view index</p>

<h1>Genres</h1>
<a href="/genres/new">New Artist</a>
<table>
  <tr>
    <th>Type</th>
    <th></th>
  </tr>
  <% for genre in @genres %>
  <tr>
    <td><%= genre.type %></td>
    <td></td>
    <td><a href='/genres/<%= genre.id%>'>Show Genre qualities</a></td>
  </tr>
  <% end %>
</table>



<p>
  <a href="/genres/new">New Genre</a>
</p>
