<h1>Genres</h1>

<table>  
  <% for genre in @genres %>
  <tr>
    <td><a href='/genres/<%= genre.id%>'><%= genre.type %></a></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</table>

<p>
  <a href="/genres/new">New Genre</a>
</p>

</section>
</div>
