<!DOCTYPE html>
<html>
<head>
  <title>Rhys' Records</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home or Index</a></li>
      <li><a href="/artists">All Artists</a></li>
      <li><a href="/albums">All Albums</a></li>
      <li><a href="/genres">All Genres</a></li>
    </ul>
  </nav>
  <%= yield  %>
</body>
</html>